body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('fondo.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #ffffffee;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3, span, label, p {
    color: hotpink; 
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.column {
    width: 48%;
}

.input-box {
    margin-bottom: 15px;
}

.input-box span {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button,
.button {
    background: #ff69b4; /* botón rosa fuerte */
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 15px;
    font-weight: bold;
    transition: 0.3s ease;
}

button:hover,
.button:hover {
    background: #ff1493;
}

#payment-message {
    font-weight: bold;
    margin-top: 10px;
    color: hotpink;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    border-radius: 10rem;
    transition: all 0.2s;
    z-index: 0;
    box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
}

.hoverEffect {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hoverEffect div {
    background: linear-gradient(90deg, #ff1493, #c71585, #00d4ff);
    border-radius: 40rem;
    width: 10rem;
    height: 10rem;
    filter: blur(20px);
    opacity: 0.5;
    animation: effect 3s linear infinite;
}

.button:hover .hoverEffect div {
    width: 8rem;
    height: 8rem;
}

@keyframes effect {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.bubble {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: animate_4010 8s ease-in-out infinite;
}

@keyframes animate_4010 {
  0%,100% { transform: translateY(-20px); }
  50% { transform: translateY(20px); }
}
