.elemento {
    width: 500px;
    height: 300px;
    background-image: url('uni.webp'), url('uni.webp');
    background-position: center, top right;
    background-size: cover, 100px 100px;
    background-repeat: no-repeat, no-repeat;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:arial,Helvetica, sans-serif;
    background: linear-gradient(
        188deg,
        rgb(231, 68, 177)0%,
        rgb(230, 62, 165)50%,
        rgb(179, 19, 99)100%
        );
        
        justify-content:center;
        min-height:100vh;
}
.form-container{
    text-aling:center;
}
 .form-container h2{
    font-size:40px;
    color:#F5FCFF;
    margin-bottom:10px;
 }
 .form-container p{
    .form-size:10px;
    color:#5F9;
    margin-bottom:50px;
 }

  form{
    padding:50px;
    background:linear-gradient(
        50deg,
        rgb(70, 4, 37)0%,
        rgb(201, 80, 140)0%,
        rgb(201, 126, 163)0%,
    );
    border-radius:15px;
    box-shadow:0 0 20px rgb(8, 0, 4)0%;
    width:800px;
    text-aling:left;
    display:flex;
    flex-direction;
  }
  .form-group{
    display:grid;
    grid-template-colums: repead(2,1fr);
    grid-gap:40px;
    margin-bottom:40px;
  }
  .form-content{
    display:flex;
    flex-direction:column;
  }

  label{
    color:#F5FCFF;
    font-size:15px;
    margin-bottom:15px;
  }

  input,textarea{
    padding:20px 15px;
    background-color:#283B64;
    border:0;
    outline:none;
    border-radius:25px;
    color:#F5FCFF;
    font-size:16px;
  }
  ::placeholder{
    color:#949FBD;
    font-size:16px;

  }

  textarea{
    margin-bottom:40px;
  }
  .btn{
    padding:17px 15px;
    width:180px;
    aling-self:center;
    text-tranform:capitalize;
    color:#F5FCFF;
    font-size:16px;
    box-shadow:0 0 20px rgba(0,0,0,0,0.2);
    cursor:pointer;
    background:linear-gradient(
        90deg,
        rgb(150, 247, 60)0%,
        rgb(196, 245, 118)0%,
    );
  }

  /*burbuja*/
  .bubble {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: inset 0 0 25px rgba (255, 255, 255, 0.25);
  animation: animate_4010 8s ease-in-out infinite;
}

.bubble:nth-child(2) {
  position: relative;
  zoom: 0.45;
  left: -10px;
  top: -100px;
  animation-delay: -4s;
}

.bubble:nth-child(3) {
  position: relative;
  zoom: 0.45;
  right: -80px;
  top: -300px;
  animation-delay: -6s;
}

.bubble:nth-child(4) {
  position: relative;
  zoom: 0.35;
  left: -120px;
  bottom: -200px;
  animation-delay: -3s;
}

.bubble:nth-child(5) {
  position: relative;
  zoom: 0.5;
  left: 0px;
  top: 200px;
  animation-delay: -5s;
}

@keyframes animate_4010 {
  0%,100% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }
}

.bubble::before {
  content: '';
  position: absolute;
  top: 50px;
  left: 45px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  z-index: 10;
  filter: blur(2px);
}

.bubble::after {
  content: '';
  position: absolute;
  top: 80px;
  left: 80px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  z-index: 10;
  filter: blur(2px);
}

.bubble span {
  position: absolute;
  border-radius: 50%;
}

.bubble span:nth-child(1) {
  inset: 10px;
  border-left: 15px solid #0fb4ff;
  filter: blur(8px);
}

.bubble span:nth-child(2) {
  inset: 10px;
  border-right: 15px solid #ff4484;
  filter: blur(8px);
}

.bubble span:nth-child(3) {
  inset: 10px;
  border-top: 15px solid #ffeb3b;
  filter: blur(8px);
}

.bubble span:nth-child(4) {
  inset: 30px;
  border-left: 15px solid #ff4484;
  filter: blur(12px);
}

.bubble span:nth-child(5) {
  inset: 10px;
  border-bottom: 10px solid #fff;
  filter: blur(8px);
  transform: rotate(330deg);
}